@model Framework.Customer.CustomerModel
@using GoodToCode.Extensions
@using Framework.WebApp
@using Framework.Customer

<div id="section-summary" class="section-light">
    <div class="section-contents">
        <form action="~/@(CustomerController.ControllerName)/@(CustomerController.SummaryAction)" method="post" class="form-horizontal" role="form">
            <div class="section-header">Customer Summary</div>
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Key)
            @Html.HiddenFor(m => m.GenderId)
            <div class="form-group row">
                @Html.LabelFor(m => m.Id, "Id", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.LabelFor(m => m.Id, Model.Id == Defaults.Integer ? Defaults.String : Model.Id.ToString(), new { @class = "control-label" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">First Name</div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.FirstName, Model.FirstName, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">Last Name</div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.LastName, Model.LastName, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">Birth Date</div>
                <div class="col-sm-9">
                    <input name="BirthDate" class="form-control BirthDate" id="lblBirthDate" type="date" placeholder="YYYY-MM-DD" value="@(Model.BirthDate == Defaults.Date ? Defaults.String : Model.BirthDate.ToString("yyyy-MM-dd"))" readonly>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">Gender</div>
                <div class="col-sm-9">
                    @Html.TextBox("txtGender", GenderList.GetAll().Where(y => y.Key == Model.GenderId).FirstOrDefault().Value ?? "Not Selected", new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <button type="button" id="btnEdit" class="btn btn-primary" onclick="window.location.href='@Url.Action(CustomerController.EditAction, CustomerController.ControllerName, new { id = Model.Id })'">Edit Customer</button>
            <button type="button" id="btnDelete" class="btn btn-primary" onclick="window.location.href='@Url.Action(CustomerController.DeleteAction, CustomerController.ControllerName, new { id = Model.Id })'">Delete Customer</button>
        </form>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 ">
                @if (!ViewData.ModelState.IsValid)
                {
                    @Html.ValidationSummary(false, "Action resulted in...", new { @class = "text-danger" })
                }
                else
                {
                    <p class="text-info">@TempData[CustomerController.ResultMessage]</p>
                }
            </div>
        </div>
    </div>
</div>